<!-- #docregion align-start -->
<mat-toolbar color="primary">
  <mat-toolbar-row >
    <span>Angular Materials</span>
  </mat-toolbar-row>
</mat-toolbar>


<mat-tab-group mat-stretch-tabs mat-align-tabs="start">
    <!-- #enddocregion align-start -->
      <mat-tab label="Datepicker"><app-material1></app-material1></mat-tab>
      <mat-tab label="Buttons"><app-material2></app-material2></mat-tab>
      <mat-tab label="Bars"><app-material3></app-material3></mat-tab>
      <mat-tab label="Input"><app-material4></app-material4></mat-tab>
      <mat-tab label="Table Sorter"><app-material5></app-material5></mat-tab>

    </mat-tab-group>
  

