.mat-sort-header-container {
    align-items: center;
   
  }
  
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
  }

  .center {
    margin-top: 70px;
    display: flex;
    justify-content: center;
  }